# =====================================================
# PYTHON
# =====================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# =====================================================
# VENV
# =====================================================

.venv/
venv/
env/

# =====================================================
# JUPYTER
# =====================================================

.ipynb_checkpoints/

# =====================================================
# VS CODE
# =====================================================

.vscode/

# =====================================================
# STREAMLIT CACHE
# =====================================================

.streamlit/secrets.toml

# =====================================================
# SYSTEM FILES
# =====================================================

.DS_Store
Thumbs.db

# =====================================================
# PYTORCH / MODEL CACHE
# =====================================================

*.pt
*.pth.tar

# =====================================================
# LOGS
# =====================================================

*.log

# =====================================================
# BUILD FILES
# =====================================================

build/
dist/
*.egg-info/

# =====================================================
# UV
# =====================================================

.python-version

models/
models.zip